.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #007bff;
  color: white;
}

.side-menu {
  position: absolute;
  left: 0;
  top: 50px;
  width: 200px;
  background: #f1f1f1;
  border-right: 1px solid #ccc;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  padding: 10px;
  cursor: pointer;
}

.content {
  padding: 20px;
}
